* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #fafafa;
}

main {
  text-align: center;
}

pre {
  font-family: monospace;
  line-height: 1.2;
  display: inline-block;
  text-align: left;
}
